@using System.IO
@using AngularDVDs.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model LoginViewModel

@if (SignInManager.IsSignedIn(User))
{

    <ul class="nav navbar-nav navbar-right grey-nav">
        <li>
            <a id="logoffBtn" href="#">Log off</a>
            @*<button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>*@

        </li>
    </ul>
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm"></form>

}
else
{
    <ul class="nav navbar-nav navbar-right grey-nav">
        <li>
            <a asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li>
            <a id="loginBtn" data-toggle="modal" data-target="#loginModal">Log in</a>

        </li>
    </ul>

}
