<div class="modal fade" id="addGenreModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Genre</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <div class="input-group">
                        <span class="input-group-addon stdAddonWidth" id="genName-addOn">Name</span>
                        <input type="text" class="form-control" placeholder="Genre Name" aria-describedby="genName-addOn" ng-model="genToAdd" data-toggle="popover" data-trigger="focus" data-content="Genre exists in database." id="newGenreNameInput">


                    </div>
                    &nbsp;
                    <div class="input-group">
                        <span class="input-group-addon stdAddonWidth" id="genDesc-addOn">Desc</span>
                        <input type="text" class="form-control" placeholder="Description" aria-describedby="genDesc-addOn" ng-model="descToAdd" data-toggle="popover" data-trigger="focus" data-content="" id="newGenreDescInput">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="addGenre(genToAdd, descToAdd)">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
