@model LoginViewModel
&nbsp;
<div class="container-fluid">
    <div class="col-lg-2">
        <div class="panel panel-primary" ng-controller="directorListCtrl">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="modal" href="#fullDirectorListModal">
                        <span class="glyphicon glyphicon-list action-icon"></span>
                    </a> Recent Directors

                    <span class="pull-right glyphicon glyphicon-refresh action-icon" ng-click="reactivate()"></span>
                    <span id="dirSpinner" us-spinner="{radius:10, width:5, length: 10,top:'38px', position:'relative'}" spinner-key="dirSpinner"></span>
                </h3>
            </div>
            <div class="panel-body panel-dir">
                

                <ul>
                    <li ng-repeat="dir in DirectorsNameList | limitTo: 5 " class="repeated-item">{{dir.DIRECTOR_NAME}}</li>
                </ul>
                <span ng-hide="dirIsEmpty()" class="glyphicon glyphicon-plus pull-right action-icon text-success" data-toggle="modal" href="#addDirectorModal"></span>
            </div>

            <div add-director-modal=""></div>
            @* full director list modal *@
            <div full-director-list-modal=""></div>
        </div>
        <div class="panel panel-primary" ng-controller="genreListCtrl">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-list action-icon"></span> Recent Genres

                    <span class="pull-right glyphicon glyphicon-refresh action-icon" ng-click="refreshGenres()"></span>
                    <span id="genSpinner" us-spinner="{radius:10, width:5, length: 10,top:'38px', position:'relative'}" spinner-key="genSpinner"></span>
                </h3>
            </div>
            <div class="panel-body panel-gen">
                <ul>
                    <li ng-repeat="gen in genres|limitTo:5" class="repeated-item" title="{{gen.GENRE_DESC}}">{{gen.GENRE_NAME}}</li>
                </ul>
                <span ng-hide="genresIsEmpty()" class="glyphicon glyphicon-plus pull-right action-icon text-success" data-toggle="modal" href="#addGenreModal"></span>
                <add-genre-modal></add-genre-modal>
                @* full genre list modal *@
            </div>
        </div>
    </div>


    <div class="col-lg-10">
        <div class="panel panel-primary" ng-controller="dvdListCtrl">
            <div class="panel-heading">
                <h3 class="panel-title form-inline dvd-list-title">
                    DVD List <span class="input-group" style="margin-left: 20px">
                        <span class="input-group-addon stdAddonWidth" id="Filter-Addon">Filter</span>
                        <input type="text" class="form-control" placeholder="Title" aria-describedby="Filter-Addon" ng-model="dvdSearch"></span>
                    <span class="glyphicon glyphicon-refresh action-icon pull-right dvd-refresh-icon" ng-click="refreshData()"></span>
                    <span id="dvdSpinner" us-spinner="{radius:10, width:5, length: 14, top:'40px', position:'relative'}" spinner-key="dvdSpinner"></span>
                </h3>
            </div>
            <div class="panel-body panel-dvd">
                
                <table class="table table-condensed table-stripped table-hover" ng-hide="dvdsIsEmpty()">
                    <thead>
                    <tr>
                        <th class="action-icon" ng-click="orderTableBy('DVD_TITLE')">Title <span class="glyphicon glyphicon-arrow-up" ng-show="orderColumn === 'DVD_TITLE'"></span><span class="glyphicon glyphicon-arrow-down" ng-show="orderColumn === '-DVD_TITLE'"></span></th>
                        <th class="action-icon" ng-click="orderTableBy('GENRE_NAME')">Genre<span class="glyphicon glyphicon-arrow-up" ng-show="orderColumn === 'GENRE_NAME'"></span><span class="glyphicon glyphicon-arrow-down" ng-show="orderColumn === '-GENRE_NAME'"></span></th>
                        <th class="action-icon" ng-click="orderTableBy('DIRECTOR_NAME')">Director<span class="glyphicon glyphicon-arrow-up" ng-show="orderColumn === 'DIRECTOR_NAME'"></span><span class="glyphicon glyphicon-arrow-down" ng-show="orderColumn === '-DIRECTOR_NAME'"></span> </th>
                        <th class="action-icon" ng-click="orderTableBy('DVD_RELEASE_YEAR')">Year <span class="glyphicon glyphicon-arrow-up" ng-show="orderColumn === 'DVD_RELEASE_YEAR'"></span><span class="glyphicon glyphicon-arrow-down" ng-show="orderColumn === '-DVD_RELEASE_YEAR'"></span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="repeated-item" ng-repeat="dvd in dvds | filter: dvdSearch | orderBy: orderColumn">
                        <td class="ellipsis" title="Added: {{dvd.DVD_ADDMOD_Datetime | date: 'MM/dd/yyyy @@ h:mma'}}">{{dvd.DVD_TITLE}}</td>
                        <td class="ellipsis">{{dvd.GENRE_NAME}}</td>
                        <td class="ellipsis">{{dvd.DIRECTOR_NAME}}</td>
                        <td>{{dvd.DVD_RELEASE_YEAR}}</td>
                        <td>
                            <span class="glyphicon glyphicon-remove action-icon text-danger pull-right" data-toggle="tooltip" data-placement="right" title="Remove this DVD" ng-click="removeDVD(dvd.DVD_ID)"></span></td>
                    </tr>
                    <tr id="AddDvdRow" ng-hide="addMode">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <span class="glyphicon glyphicon-plus text-success action-icon pull-right" ng-hide="addMode" ng-click="enableAddMode(true)"></span></td>
                    </tr>
                    <tr add-dvd-inline ng-show="addMode"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                <form id="loginForm" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData[""]" method="post" class="form-horizontal">
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                <label asp-for="RememberMe">
                                    <input asp-for="RememberMe" />
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default">Log in</button>
                        </div>
                    </div>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                    </p>
                    <p>
                        <a asp-action="ForgotPassword">Forgot your password?</a>
                    </p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            <script>
                            $(function() {
                                $("#loginModal .modal-footer .btn-primary")
                                    .click(function() {
                            $("#loginForm").submit();
                                    });
                            });
            </script>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->